{% extends "base.html" %}
{% from "macros.html" import render_field %}

{% block title %}
    {% if category %}PeriPool | Edit Category{% else %}PeriPool | Add Category{% endif %}
{% endblock %}

{% block content %}
<section>
    {% if category %}
        <h2>Edit category</h2>
    {% else %}
        <h2>Add category</h2>
    {% endif %}

    <form method="post">
        {{ form.hidden_tag() }}

        {{ render_field(form.name) }}
        {{ render_field(form.description) }}

        <button type="submit">
            {% if category %}Update category{% else %}Create category{% endif %}
        </button>
    </form>

    <p>
        <a href="{{ url_for('admin.inventory') }}">Back to inventory</a>
    </p>
</section>
{% endblock %}
