{% extends "base.html" %}
{% from "macros.html" import render_field %}

{% block title %}
    {% if item_unit %}PeriPool | Edit Item Unit{% else %}PeriPool | Add Item Unit{% endif %}
{% endblock %}

{% block content %}
<section>
    {% if item_unit %}
        <h2>Edit item unit</h2>
    {% else %}
        <h2>Add item unit</h2>
    {% endif %}

    <form method="post">
        {{ form.hidden_tag() }}

        {{ render_field(form.item_model_id) }}
        {{ render_field(form.asset_tag) }}
        {{ render_field(form.status) }}

        <button type="submit">
            {% if item_unit %}Update item unit{% else %}Create item unit{% endif %}
        </button>
    </form>

    <p>
        <a href="{{ url_for('admin.inventory') }}">Back to inventory</a>
    </p>
</section>
{% endblock %}
