{% extends "base.html" %}

{% block title %}PeriPool | Home{% endblock %}

{% block content %}
<section>
<h2>Welcome to PeriPool, L&G's IT Peripheral Borrowing System</h2>

<p>
    Forgot your mouse? Need a headset for office calls? Want to compare different peripherals before choosing the right device for you?
</p>

<p>
    PeriPool helps employees borrow and trial office peripherals quickly,
    including headsets, webcams, mice, keyboards, chargers, and docking stations.
</p>

<p>
    Browse the catalogue to see what is available, borrow an item for short-term use, and return it when you are finished.
</p>
</section>
{% endblock %}